#imageship,#ship{
  position: absolute;
  color:red;
  width: 150px;
  height: 150px;
}

.outer-container{

  display: inline-block

}

body {
  background-color: lightblue;
}

.tyra{

  background-color: lightblue;

}
