.logo{
  position: relative;
  left: 700px;
  width: 200px;
  height: 200px;
}

.rTitle{
  position: relative;
  bottom: 940px;
  left: 100px;
  font-size: 70px;
  font-family: 'Nunito', sans-serif;
  color: #84BEFF;
}

.loveimage{
  z-index: 0;
  position: relative;
  left: 540px;
  bottom: 130px;
  width: 600px;
  height: 700px;
}
