

body{
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

.container{
  width: 80%;
  margin: 0 auto;
}

header{
    background: #84BEFF;
    margin-bottom: 20px;
}

header::after{
  content: '';
  display: table;
  clear: both;
}

.logo{
  width: 130px;
  height: 130px;
  float: left;

}

nav{
  float: right;
}

nav ul{
  margin: 0;
  padding:0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 90px;
  padding-top: 50px;

  position: relative;

}

nav a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

nav a:hover {
  color: #ffffff;
  text-shadow:0px 20px 50px #ffffff;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

nav a::before{
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before{
  width: 100%;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 20%; /* Full-width */
  height: 3px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 25px;
  border: 2px solid #84BEFF;
  background: #ffffff; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.Preferences{
  position: relative;
  left: 60px;
}

.pcard{
  width: 380px;
  height: 458px;
}

.yourprofile{
  float: right;
  position: relative;
  right: 120px;
  bottom: 550px;

}

.lcard{

  float: left;
}

.rcard{
  float: right;
}

.sButton{
  position: relative;
  left: 170px;
  top: 100px;
  margin: 0 autp;
}

.cprof{
  float: right;
  margin-right: 20px;
}

.clist{
  margin-left: 2
}
